* {
    margin: 0;
    padding: 0;
}

#container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 960px;
    margin:0px auto;
    flex-wrap: wrap;
}

.grid-item {
    border: 1px solid black;
    height: 55px;
    width: 55px;
}